<!DOCTYPE html>

<div class="top-wrapper">
  <div class="container">
    <h1>3.料理を選びましょう</h1>
    <h2></h2>
    <p></p>

      <!--<p>or sign up with</p>
      -->

    </div>
  </div>

  <div class="posts-index-item">
  <div class ="menu-index">

<% @menus.each do |menu| %>
<h1><%= menu.name %></h1>
<img src= <%= menu.image_name %>><br >
<p>￥<%= menu.price %></p>
<p><%= menu.detail %></p>

  <%= form_tag("/add_item") do %>

  <input name="product_id" type="hidden" value= <%= menu.id %> >

  <p>数量</p>
<!-- <input>タグを用いて1行の入力フォームを作成してください -->
  <input name="quantity" value="0">
  <!--<input name= "price"  type = "hidden" value= <%= menu.price %> > -->

  <input type="submit" value="カートに追加する">
  <% end %>
<% end %>




</div>
</div>

<style>
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.menu-index p {
  font-size: 20px;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("/food-eating2.jpg");
  background-size: cover;
  color: white;
  text-align: center
}

.top-wrapper h1 {
  opacity: 0.95;
  font-size: 45px;
  letter-spacing: 3px;
}

.top-wrapper h2 {
  opacity: 0.8;
}


.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #ffe63b;
  color: white;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
</style>
