<!DOCTYPE html>
<html>
  <head>
    <title>Tsukuba Delivery</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Tsukuba Delivery", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Tsukuba Deliveryとは", "/about") %>
        </li>
        <li>
          <%= link_to("注文する", "/restaurants/index") %>
        </li>

        <li>
          <%= link_to("マイページ", "/users/index") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>


      </ul>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <a href="https://www.facebook.com/TsukubaDelivery/" class="btn facebook"><span class="fa fa-facebook"></span>Facebook</a>
        <a href="https://twitter.com/TsukubaDelivery" class="btn twitter"><span class="fa fa-twitter"></span>Twitter</a>
        <img src="">
        <p>Easy order, New neighbors!</p>
      </div>
    </footer>
  </body>

</html>
